<h3>Votre profil</h3>

<ul>
    <li>Nom:</li>
    <li>Prenom:</li>
    <li>Pseudo:</li>
    <li>Date de création de compte:</li>
    <li>Nombre de liste enregistrés:</li>
</ul>

<h3>Liste des séances sélectionnés</h3>

<div class="tech-list"><div *ngFor="let tech of matech" >
    
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{tech.images}}">
            <div class="card-body">
                <h5 class="title">{{tech.name}}</h5>
                <p class="text">Cette technique est la numéro {{tech.id}} du catalogue, elle est decrite comme :
                    {{tech.description}} Elle vous projetera dans un univers {{tech.ambiance}}
                    pendant
                    {{tech.duration}}.</p>
    
    
            </div>

        </div></div>

</div>