
<!-- <div class="container-techniques">
  <div class="card" style="width: 18rem;">
    <app-card></app-card>
    
  </div>
</div>



<p>{{meditations.name}}</p> -->

<div *ngIf="meditations" class="meditation-details">
    <img [src]="meditations.images" class="card-img-top">
    <div class="card-body">
        <h5 class="title">{{ meditations.name }}</h5>
        <p class="text">
            Cette technique est la numéro {{ meditations.id }} du catalogue, elle est décrite comme :
            {{ meditations.description }} Elle vous projettera dans un univers {{ meditations.ambiance }} pendant
            {{ meditations.duration }}.
        </p>
        <app-chronometre (startClicked)="onStartClicked()" 
    (stopClicked)="onStopClicked()" 
    (resetClicked)="onResetClicked()"></app-chronometre>
        <audio controls>
            <source [src]="meditations.audio" type="audio/mp3">
        </audio>

    </div>
</div>