.choix {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgcolor);
  margin: 0px;

}

.middle {
  margin: 0 10px; /* Ajustez la marge selon vos préférences */
  font-size: 24px; /* Ajustez la taille de la police selon vos préférences */
  color:var(--font-color);
}

app-connexion, app-inscription{
    flex-grow: 1;
    margin: 10px;
} 
