<h3>Vous connecter</h3>

<div class="mb-3 center" >
    <label for="exampleFormControlInput1" class="form-label">Votre adresse mail ou pseudo</label>
    <input type="email" class="form-control width" id="exampleFormControlInput1" placeholder="votremail@exemple.com">
</div>

<div class="row g-3 align-items-center center">
    <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Mot de passe</label>
  
    
        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
  
    
        <span id="passwordHelpInline" class="form-text">
            Entre 5 et 15 caractères.
        </span>
    </div>
</div>
