.width{
    width:25%
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

h3{
    display: flex;
    justify-content: center;
    color: #7C0033;
    padding: 20px;
    padding-top: 200px;
    margin: 0px;
}

label{
    color: #b54574;
}

.btn{
    border: solid 1px #b54574;
    color: #b54574;
    margin-bottom: 20px;

}
.btn:hover{
    background-color: #b54574;
    color: white;
} 

li{
    list-style-type: none;
    margin-top: 10px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 320px;
}


*{

    background-color: #FDECEF;
}