<div>
    <h3>Tableau de Bord - Journal de Méditation</h3>
    <h5>Messages enregistrés :</h5>
    <ul>
        <li *ngFor="let msg of message">
            <p>
                Votre ressentis qu'en à la <br>
                 Séance : {{ selectedTechnique }}, Lieu : {{ selectedLieu }}, Nombre : {{ selectedNombre
                }}
            </p>
            <p>Votre message :<br> {{ msg }}</p>
        </li>
    </ul>
</div>


<div class="content">
    <h3>Enregistrez vos ressentis quant à la séance :</h3>

    <div class="option">
        <label>Séance : </label>
        <select #techniqueSelect>
            <option *ngFor="let technique of techniques" [value]="technique.id">
                {{ technique.name }}
            </option>
        </select>
    </div>

    <div class="option">
        <label>Lieu :</label>
        <select #lieuSelect>
            <option *ngFor="let lieu of lieuxOptions" [value]="lieu">
                {{ lieu }}
            </option>
        </select>
    </div>

    <div class="option">
        <label>Seul(e) ? :</label>
        <select #nombreSelect>
            <option *ngFor="let nombre of nombreOptions" [value]="nombre">
                {{ nombre }}
            </option>
        </select>
    </div>

    <div>
        <textarea #messageInput placeholder="Écrivez votre entrée ici..."></textarea>
    </div>

    <div><button class="btn" (click)="addMessage(techniqueSelect.value, lieuSelect.value, nombreSelect.value)">Ajouter une nouvelle entrée</button></div>
</div>
