
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.option{
    margin-bottom: 10px;
}

.btn{
    border: 2px solid #B54574;

}

textarea{
    width: 800px;
    height:400px;
}

h3{
    color:#6B2D5C;
    display: flex;
    justify-content: center;
}

label{
    margin-right: 10px;
}

li{
    list-style-type: none;
}

label{
    color:#7C0033;
}

h5{
    color:#b54574;
}

.rep{
    font-weight: bolder;
}

button{
    color: #B54574;
}
button:hover{
    background-color: #B54574;
    color: white;
}
